In [2]:
import pandas as pd

In [3]:
data = {
    'name': ['John', 'Anna', 'Peter', 'Linda'],
    'age': [24, 13, 53, 33]
}

df = pd.DataFrame(data)

In [4]:
print(df)

    name  age
0   John   24
1   Anna   13
2  Peter   53
3  Linda   33

In [5]:
file_name = "平安保险2020年-10w.xlsx"

file_df = pd.read_excel(file_name)

In [6]:
print(file_df.head(3))

        产品名称       金额   保障期限   姓名                 身份证 性别           手机  \
0  白领一年期意外保障  20575.0     1年   王超  510421198710270516  男  18281213656
1   国内-自助游保险  72830.0  1-90天  汪小文  340823198902087516  男  18665092282
2   i康保·少儿配齐  14674.0  1年及以下   王倬  430404197810181034  男  13764082650

                      邮箱   省份    城市           月收入 婚姻状况       保单形式  \
0    18281213656@163.com  四川省  攀枝花市    6000－9999元   已婚  电子保单 纸质保单
1    18665092282@139.com  浙江省   杭州市  10000－14999元   未婚  电子保单 纸质保单
2  sales@dongchanggm.com  上海市   上海市    6000－9999元   已婚       电子保单

             保险责任  投保目的   缴费期限
0  《一年期综合意外险适用条款》  综合意外  一次性缴清
1     《旅行意外险适用条款》  国内旅游  一次性缴费
2  《i康保·少儿配齐适用条款》  重疾保障   1年以下

In [7]:
lie1 = file_df.head(3)['金额']
print(lie1)

0    20575.0
1    72830.0
2    14674.0
Name: 金额, dtype: float64

In [8]:
hang1 = file_df.head(3).loc[0]
print(hang1)

产品名称              白领一年期意外保障
金额                  20575.0
保障期限                     1年
姓名                       王超
身份证      510421198710270516
性别                        男
手机              18281213656
邮箱      18281213656@163.com
省份                      四川省
城市                     攀枝花市
月收入              6000－9999元
婚姻状况                     已婚
保单形式              电子保单 纸质保单
保险责任         《一年期综合意外险适用条款》
投保目的                   综合意外
缴费期限                  一次性缴清
Name: 0, dtype: object

In [12]:
hight_file = file_df[file_df['金额'] > 30000]
print(hight_file.head(3))

        产品名称        金额   保障期限   姓名                 身份证 性别           手机  \
1   国内-自助游保险  72830.00  1-90天  汪小文  340823198902087516  男  18665092282
3    i康保老年医疗  43694.00     一年   孙涛  511321198902084414  男  13558792199
6  平安e生保2020  36515.78     一年   陈希  320582199402255151  男  13915466930

                    邮箱   省份   城市           月收入 婚姻状况       保单形式  \
1  18665092282@139.com  浙江省  杭州市  10000－14999元   未婚  电子保单 纸质保单
3  13558792199@139.com  四川省  南充市    6000－9999元   未婚       电子保单
6       chenxi@163.com  江苏省  苏州市    6000－9999元   未婚       电子保单

                    保险责任  投保目的   缴费期限
1            《旅行意外险适用条款》  国内旅游  一次性缴费
3  《i康保·老年医疗（三高版)保险适用条款》  住院医疗     一年
6      《平安e生保2020医疗保险条款》  住院医疗     一年

In [10]:
sort_file = file_df.sort_values(by='金额', ascending=True)
print(sort_file.head(5))

            产品名称     金额      保障期限   姓名                 身份证 性别           手机  \
3032      全车无忧保险  898.0   1年（可续保）  冯艳锋  130434198207272013  男  13603101337
84405  一年期重大疾病保险  898.0  一年（续保9折）  崔志斌  140402196812272419  男  13903556426
17047     家庭财产保险  898.0   1年（可续保）  杨福祯  132129194901091411  男  13699965632
17727   抗癌卫士2020  898.0   一年（可续买）   邢海  460022198912231216  男  18389735500
9859     成人重大疾病险  898.0        一年   李辉  130921198805231217  男  15832752517

                        邮箱        省份         城市           月收入 婚姻状况       保单形式  \
3032   13230039658@139.com       河北省        邯郸市    3000－5999元   已婚  电子保单 纸质保单
84405  13903556426@126.com       山西省        长治市  10000－14999元   已婚       电子保单
17047  13699965632@163.com  新疆维吾尔自治区      乌鲁木齐市    6000－9999元   已婚  电子保单 纸质保单
17727  18389735500@163.com       海南省  省直辖县级行政区划  10000－14999元   未婚       电子保单
9859   15832752517@163.com       河北省        沧州市    6000－9999元   未婚  电子保单、纸质保单

                    保险责任  投保目的   缴费期限
3032      《平安全车无忧保险适用条款》  出行交通  一次性缴费
84405  《平安一年期重大疾病保险适用条款》  重大疾病  一次性缴费
17047         《家庭财产保险条款》  家庭财产  一次性缴费
17727   《平安抗癌卫士2020保险条款》  重大疾病     一年
9859    《平安成人重大疾病保险适用条款》  重大疾病     一年

In [19]:
# 计算金额平均值
file_df["金额"].mean()

28495.69778301419

In [22]:
# 计算前 8 行的数据
file_df["金额"].iloc[:8].mean()

30439.485

In [25]:
file_df["金额"].iloc[[0,2,4]].mean()

18272.666666666668

In [28]:
file_df["金额"].iloc[3:8].mean()

27087.376

In [34]:
# agg 方法
file_df.agg({"金额": ["sum", "mean","min"]})

                金额
sum   2.872081e+09
mean  2.849570e+04
min   8.980000e+02

In [35]:
file_df["金额"].agg(["sum", "mean","min"])

sum     2.872081e+09
mean    2.849570e+04
min     8.980000e+02
Name: 金额, dtype: float64

In [36]:
# transformmation
file_df["金额"].transform(lambda x: x - x.mean())

0         -7920.697783
1         44334.302217
2        -13821.697783
3         15198.302217
4         -8926.697783
              ...
100785   -26484.697783
100786   -25016.697783
100787   -15935.697783
100788   -15579.697783
100789   -12060.697783
Name: 金额, Length: 100790, dtype: float64

In [39]:
# filtering 方法

In [20]:
# group 讲解
import pandas as pd

# 创建一个简单的DataFrame
df = pd.DataFrame({
   '商品名称': ['苹果', '香蕉', '橙子', '苹果', '香蕉', '橙子', '苹果', '香蕉'],
   '购买金额': [10, 20, 30, 10, 20, 30, 10, 20]
})

grouped = df.groupby('购买金额')

for name, group in grouped:
    print(name)
    print(group)

10
  商品名称  购买金额
0   苹果    10
3   苹果    10
6   苹果    10
20
  商品名称  购买金额
1   香蕉    20
4   香蕉    20
7   香蕉    20
30
  商品名称  购买金额
2   橙子    30
5   橙子    30

In [1]:
# group
import pandas as pd

In [2]:
data = {
    "city": ["北京", "上海", "广州", "深圳", "沈阳"],
    "temperature": [32, 31, 28, 33, 19],
    "humidity": [80, 85, 78, 77, 32]
}

data_df = pd.DataFrame(data)

In [12]:
data_group_city = data_df.groupby("city")

mean_temperature = data_group_city["temperature"].mean().reset_index()
print(mean_temperature)

  city  temperature
0   上海         31.0
1   北京         32.0
2   广州         28.0
3   沈阳         19.0
4   深圳         33.0

In [20]:
# 使用 mean 方法获取平均值,使用 reset_index 方法重置索引
mean_humidity = data_group_city[["humidity","temperature"]].mean().reset_index()
print(mean_humidity)

  city  humidity  temperature
0   上海      85.0         31.0
1   北京      80.0         32.0
2   广州      78.0         28.0
3   沈阳      32.0         19.0
4   深圳      77.0         33.0

In [21]:
# 员工数据
data_emp = {'emp_id': [1, 2, 3],
            'name': ['Alice', 'Bob', 'Charlie']}

# 部门数据
data_dept = {'dept_id': [1, 2, 3],
             'dept_name': ['HR', 'Tech', 'Finance']}

df_emp = pd.DataFrame(data_emp)
df_dept = pd.DataFrame(data_dept)

# 合并数据
merged = pd.merge(df_emp, df_dept, left_on='emp_id', right_on='dept_id')
print(merged)

   emp_id     name  dept_id dept_name
0       1    Alice        1        HR
1       2      Bob        2      Tech
2       3  Charlie        3   Finance

In [22]:
# 示例数据
data = {'city': ['北京', '上海', '广州'],
        'temperature': [22, 18, 30],
        'humidity': [60, 65, 70]}

df = pd.DataFrame(data)

# 使用 stack
stacked = df.stack()
print(stacked)

# 使用 unstack
unstacked = stacked.unstack()
print(unstacked)

0  city           北京
   temperature    22
   humidity       60
1  city           上海
   temperature    18
   humidity       65
2  city           广州
   temperature    30
   humidity       70
dtype: object
  city temperature humidity
0   北京          22       60
1   上海          18       65
2   广州          30       70